<h1>Hello World!</h1>
<p>This is from the Hello Template View</p>

<%= 1 + 1 %>
</br>
<% target = "World!" %>

<%= "Hello #{target}" %>
</br>
<%= 3.times do |n| 
  puts n 
end
  %>
  </br>
  <% 3.times do |n| %>
  <%= n %></br>
  <% end %>