<h1>Hello World!</h1>
<p>This is from the Index View</p>

<a href="/demo/hello">HTML Link to Hello Page 1</a><br />
<%= link_to('Rails Link to Hello Page', {:action => 'index'}) %><br />



<%= link_to('Rails Hello with Parameters', {:action => 'hello', :page => 5, :id =>20}) %><br />
